#Some of these are related to eclipse. So i keep them out of my repo
.cproject
.dep/
.project
.settings/

#files being edited
*~

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Kernel Module Compile Results
*.mod
*.mod.o*
*.mod.cmd*
# *.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# I keep these, since I prefer having the reference of the final build
# *.elf